* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
:root {
    --dark: rgb(69, 75, 80);
    --name-background: lightgrey;
    --primary: rgb(104, 156, 121);
    --accent: rgb(197, 114, 50);
}
header {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    height: 60px;
    background-color: var(--dark);
}
h1 {
    /* display: flex; */
    background-color: var(--name-background);
    font-size: 32px;
    color: var(--dark);
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 10px;
    margin-top: 10px;
    height: 40px;
    margin-right: auto;
    border-radius: 0 15px 15px 0;
}
nav .nav-links{
    display: flex;
    background-color: var(--dark);
    padding-top: 30px;
    cursor: pointer;
}
nav li a:hover {
    color: var(--name-background);
}
li {
    /* display: inline; */
    margin-bottom: 20px;
    margin-right: 10px;
    list-style: none;
}
a {
    padding: 10px;
    color: var(--primary);
    padding-top: 15px;
    font-weight: bold;
}
.hero-banner {
    /* display: flex; */
    position: relative;
    height: 250px;
    width: 100%;
    background-image: url(https://cdn.shopify.com/s/files/1/1907/6789/products/seeded-euca1.jpg?v=1567256882);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
h2 {
    color: var(--accent);
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 36px;
    font-weight: bold;
    text-align: right;
}
.pages-section {
    display: flex;
    flex-wrap: wrap;
}
h3 {
    padding-right: 10px;
    padding-left: 30px;
    width: 20%;
    text-align: right;
    border-right: 3px solid var(--accent);
    color:var(--primary);
    font-size: 24px;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
#about-me {
    display: flex;
    flex-wrap: wrap;
    display: block;
    width: 20%;
}
.pages-section p {
    padding-left: 20px;
    margin-left: 10px;
    width: 79%;
    flex-wrap: wrap;
    display: inline;
    text-align: left;
    font-size: 20px;
}
.flex-container {
    width: 79%;
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px var(--primary);
    margin: 20px 20px;
    width: 350px;
    height: 300px;
    position: relative;
}
#large-card {
    width: 90%;
    min-width: 350px;
    background-image: url('https://marvel-b1-cdn.bc0a.com/f00000000214316/image.dynamixse.com/crop/900x600/webp.q80.png-lossy-85/https://octanecdn.com/pikearmstrong/armstronggardencom_273578920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px var(--primary);
    margin: 20px 20px;
    height: 300px;
    position: relative;
}
#large-card h4 {
    color: var(--dark);
    background-color: var(--primary);
    border-radius: 0 7px 7px 0;
    font-size: 20px;
    width: 75%;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    position: absolute;
    top: 5px;
    left: 0;
}
#proj2 {
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.PQ8ihGgcLf-W8zS4pYT94QHaFk&pid=Api&P=0&w=204&h=153");
    background-repeat: no-repeat;
    background-size: cover;
}
#proj3 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp7lIN4I-fBrPeX9Up_h-8f5wVpf_0XczPRA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}
#proj4 {
    background-image: url("https://www.gardeningknowhow.com/wp-content/uploads/2010/08/hosta-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#proj5 {
    background-image: url("https://s3-us-west-1.amazonaws.com/contentlab.studiod/getty/a5448b62d9af4e198a913c25547ea514");
    background-repeat: no-repeat;
    background-size: cover;
}
.card h4 {
    color: var(--dark);
    background-color: var(--primary);
    border-radius: 0 7px 7px 0;
    font-size: 20px;
    width: 75%;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    position: absolute;
    top: 5px;
    left: 0;
}
#large-card:hover, 
.card:hover {
    box-shadow: inset 0px 0px 8px var(--primary), 0 0 25px var(--primary);
}
/* This is a placeholder until my portfolio has actual projects to describe; the descriptions of which will be contained in the .card p tag */
/* .card p {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: var(--dark);
} */

.contact-links {
    background-color: white;
    padding: 15px 30px;
    margin: 15px 20px;
    display: inline-block;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary);
}
footer img {
    width: 100%;
    max-height: 300px;
}
footer {
    justify-content: space-between;
    text-align: center;
    color: var(--primary);
    font-size: 15px;
    font-weight: bold;
}
@media screen and (max-width:1000px) {
    header {
        flex-direction: column;
        flex-wrap: wrap;
        height: 60px;
    }   
    .pages-section p {
        font-size: 18px;
        margin: 0px; 
    }
    .flex-container {
        flex-direction: column;
    } 
}
@media screen and (max-width:576px) {
    h1 {
        flex-wrap: wrap;
    }
    ul.nav-links{
        flex-direction: column;
    }
    h2 {
        box-shadow: 0 0 8px rgb(197, 114, 50);
        background-color: rgba(255, 255, 255, 0.75); 
    }
    .pages-section p {
        justify-content: center;
    }
    h3 {
        text-align: left;
        font-size: 20px;
        padding-top: 10px;
        padding-left: 10px;
    }
    .contact-links {
        flex-direction: column;
    }
}
